<section class="thirteen columns">
    <h1>Awards</h1>
    <article>
        <header>
            <h1>International Tuition Award</h1>
            <span>University of British Columbia</span>
            <span><address>Vancouver, Canada</address><time>2014 to 2017</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Undergraduate Scholarship</h1>
            <span>Beijing University of Posts and Telecommunications</span>
            <span><address>Beijing, China</address><time>2011 - 2013</time></span>
        </header>
        <p>
            Second-class scholarship
        </p>
    </article>
    <article>
        <header>
            <h1>National Undergraduate Electronic Design Contest</h1>
            <span>Beijing University of Posts and Telecommunications</span>
            <span><address>Beijing, China</address><time>2011 - 2013</time></span>
        </header>
        <p>
            Recipient of the Second Prize (Top 5%)
        </p>
    </article>
    <article>
        <header>
            <h1>University Student Innovation Program of BUPT</h1>
            <span>Beijing University of Posts and Telecommunications</span>
            <span><address>Beijing, China</address><time>May. 2013</time></span>
        </header>
        <p>
            Won runner-up of the Most Popular Exhibit award
        </p>
    </article>
    <article>
        <header>
            <h1>CUMCM and MCM</h1>
            <span>Beijing University of Posts and Telecommunications</span>
            <span><address>Beijing, China</address><time>Sep. 2012, Feb. 2013</time></span>
        </header>
        <p>
            Recipient of Successful Participant
        </p>
    </article>
</section>
