<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MASc in Computer Engineering</h1>
            <span><a href="http://www.ubc.ca/">University of British Columbia</a></span>
            <span><address>Vancouver, Canada</address><time>2014 to 2017</time></span>
        </header>
        <p>
            CS+MATH GPA: 3.92/4, Cumulative GPA: 3.7/4
            <!-- <em>Thesis: </em> -->
        </p>
    </article>
    <article>
        <header>
            <h1>B.E. in Electric Engineering</h1>
            <span><a href="http://www.bupt.edu.cn">Beijing University of Posts and Telecommunications</a></span>
            <span><address>Beijing, China</address><time>2010 to 2014</time></span>
        </header>
        <p>
            GPA: 86.4/100 or 3.6/4
            <!-- <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em> -->
        </p>
    </article>
</section>
