<section class="thirteen columns">
    <h1>Projects</h1>

    <article>
        <header>
            <h1>open3DCV: a lightweight 3D Computer Vision Library</h1>
            <span><i class="fa fa-globe"></i> <a href="https://imkaywu.github.io/open3DCV/">Website</a> /
            <i class="fa fa-github"></i> <a href="https://github.com/imkaywu/open3DCV">Source Code</a></span>
            <span><address>UBC, Vancouver, Canada</address><time>May. 2015 to Present</time></span>
        </header>
        <ul class="disc">
            <li>
                Implement and maintain an open source Multiple View Geometry library with minimum third-party dependencies;
            </li>
            <li>
                Implement incremental Structure from Motion (SfM) using open3DCV.
            </li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Sequential Structure from Motion using open3DCV</h1>
            <span><i class="fa fa-globe"></i> <a href="https://imkaywu.github.io/tutorials/sfm/">Website</a> /
            <i class="fa fa-github"></i> <a href="https://github.com/imkaywu/open3DCV/blob/master/test/sfm.cc">Source Code</a></span>
            <span><address>UBC, Vancouver, Canada</address><time>Aug. 2017 to Oct. 2017</time></span>
        </header>
        <ul class="disc">
            <li>
                Implement sequential Structure from Motion (SfM) using open3DCV and write a detailed tutorial for educational purpose.
            </li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Spheree: perspective-corrected spherical display</h1>
            <span><i class="fa fa-globe"></i> <a href="http://hct.ece.ubc.ca/project-3/">Website</a></span>
            <span><address>UBC, Vancouver, Canada</address><time>May 2015 to Present</time></span>
        </header>
        <ul class="disc">
            <li>
                Developed 3D reconstruction algorithms and high-level abstraction for everyday objects;
            </li>
            <li>
                Multi-projector calibration, header tracking using kinect and magnetic tracker.
            </li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Image Stitching</h1>
            <span><i class="fa fa-globe"></i> <a href="{{ site.website_full }}/projects/5_project/">Website</a> /
            <i class="fa fa-github"></i> <a href="https://github.com/imkaywu/Image-Stitching">Source Code</a></span>
            <span><address>UBC, Vancouver, Canada</address><time>May. 2015</time></span>
        </header>
        <ul class="disc">
            <li>
                Implemented from scratch a robust cylindrical image stitching algorigthm in C++, which includes feature detection/extraction, focal length estimation, planar plane to cylindrical surface transformation, feature-based image alignment algorithms, etc.
            </li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Personalized Video Thumbnails</h1>
            <span><i class="fa fa-globe"></i> <a href="{{ site.website_full }}/projects/4_project/">Website</a></span>
            <span><address>UBC, Vancouver, Canada</address><time>Jan. 2015 - Apr. 2015</time></span>
        </header>
        <ul class="disc">
            <li>
                Course project of CPSC 554M - Topics in Human Computer Interaction. Personalize video thumbnails based on viewing behaviour for fast video re-searching.
            </li>
        </ul>
    </article>

    <article>
        <header>
            <h1>BackPacker Matcher</h1>
            <span><i class="fa fa-globe"></i> <a href="{{ site.website_full }}/projects/3_project/">Website</a></span>
            <span><address>UBC, Vancouver, Canada</address><time>Jan. 2015 - Apr. 2015</time></span>
        </header>
        <ul class="disc">
            <li>
                Course project of EECE 418 - Human Computer Interface. A travel agent APP that uses online social connections and common interests to match potential backpackers.
            </li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Multi-class boost and bagging</h1>
            <span><i class="fa fa-globe"></i> <a href="{{ site.website_full }}/projects/2_project/">Website</a> /
            <i class="fa fa-github"></i> <a href="https://github.com/imkaywu/CPSC540/tree/master/Coding%20project">Source Code</a></span>
            <span><address>UBC, Vancouver, Canada</address><time>Nov. 2014 - Dec. 2014</time></span>
        </header>
        <ul class="disc">
            <li>
                Use decision stumps and decision trees as base learners, implemented different split criteria for the decision tree, including information gain of ID3 and information gain ratio of C4.5;
            </li>
            <li>
                Implement post-prune for the tree construction algorithm using reduced error pruning;
            </li>
            <li>
                Implement one-vs-rest multi-class classification using decision stumps as base learners, and SAMME using decision trees as base learners.
            </li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Adaboost using Three Weak Classifiers</h1>
            <span><i class="fa fa-globe"></i> <a href="{{ site.website_full }}/projects/1_project/">Website</a> /
            <i class="fa fa-github"></i> <a href="https://github.com/imkaywu/CPSC540/tree/master/Course%20project">Source Code</a></span>
            <span><address>UBC, Vancouver, Canada</address><time>Nov. 2014 - Dec. 2014</time></span>
        </header>
        <ul class="disc">
            <li>
                Investigate the performance of Adaboost when three different weak classifiers - decision stump, decision tree, and weakened SVM are used as the base classifier.
            </li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Video Shots Detection, Keyframes Extraction and Browsing</h1>
            <span><i class="fa fa-globe"></i> <a href="{{ site.website_full }}/projects/6_project/">Website</a> /
            <i class="fa fa-github"></i> <a href="https://github.com/imkaywu/ShotDetection">Source Code</a></span>
            <span><address>UBC, Vancouver, Canada</address><time>Oct. 2014 - Dec. 2014</time></span>
        </header>
        <ul class="disc">
            <li>
                Implemented several pixel-based and color histogram-based shot boundary detection algorithms with an GUI interface for easy browsing.
            </li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Hand Gesture Recognition</h1>
            <span><i class="fa fa-globe"></i> <a href="{{ site.website_full }}/projects/8_project/">Website</a> /
            <i class="fa fa-github"></i> <a href="https://github.com/imkaywu/Gesture-Recognition-High-Low-Level-Features">Source Code</a></span>
            <span><address>Tsing Hua University, Beijing, China</address><time>Oct. 2013 - Jun. 2014</time></span>
        </header>
        <ul class="disc">
            <li>
                Hand gesture segmentation using color and depth cues, and recognition using extracted hand geometric features.
            </li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Interactive-classroom System Based on Wi-Fi</h1>
            <span><i class="fa fa-globe"></i> <a href="{{ site.website_full }}/projects/7_project/">Website</a> /
            <i class="fa fa-github"></i> <a href="https://github.com/imkaywu/Clicker">Source Code</a></span>
            <span><address>BUPT, Beijing, China</address><time>Nov. 2014 - Dec. 2014</time></span>
        </header>
        <ul class="disc">
            <li>
                Implemented independently an iClicker-like Android APP to send/receive information, and a PC program that acts as a server using multi-thread Socket and has information processing functionalities.
            </li>
        </ul>
    </article>
</section>
