<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <p>
            Q. Zhou, G. Miller, <bold>K. Wu</bold>, I. Stavness, and S. Fels. "Analysis and practical minimization of registration error in a spherical fish tank virtual reality system." In <em>Asian Conference on Computer Vision</em>. Springer, 2016.
        </p>
    </article>
    <article>
        <p>
            Q. Zhou, <bold>K. Wu</bold>, G. Miller, S. Fels. "Automatic Calibration of a Multiple-Projector Spherical Fish Tank VR Display." Accepted by <em>Winter Conference on Applications of Computer Vision</em>.
        </p>
    </article>
</section>
