<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <p>
            Q. Zhou, G. Miller, <strong>K. Wu</strong>, I. Stavness, and S. Fels. <a href="{{ site.website_full }}/assets/files/2016_accv_multi_cam_proj_calib.pdf">"Analysis and practical minimization of registration error in a spherical fish tank virtual reality system."</a> In <em>Asian Conference on Computer Vision</em>. Springer, 2016.
        </p>
    </article>
    <article>
        <p>
            Q. Zhou, G. Miller, <strong>K. Wu</strong>, S. Fels. <a href="{{ site.website_full }}/assets/files/2016_wacv_automatic_calibration_multiple.pdf">"Automatic Calibration of a Multiple-Projector Spherical Fish Tank VR Display."</a> Accepted by <em>Winter Conference on Applications of Computer Vision</em>, 2017.
        </p>
    </article>

    <h1>Papers in Preparation</h1>
    <article>
        <p>
            <!-- <strong>K. Wu</strong>, Q. Zhou, G. Miller, S. Fels. <a href="{{ site.website_full }}/assets/files/2016_wacv_abstration_to_3D_reconstruction.pdf">"An abstraction to 3D Reconstruction based on visual properties." </a> -->
        </p>
    </article>
</section>
