<section class="thirteen columns">
    <h1>Research</h1>
    <article>
        <header>
            <h1>Real-world and Synthetic 3D Datasets</h1>
            <span><i class="fa fa-globe"></i> <a href="https://imkaywu.github.io/3drecon_dataset/">Website</a> /
            <i class="fa fa-github"></i> <a href="https://github.com/imkaywu/3drecon_dataset">Source Code</a></span>
            <span><address>UBC, Vancouver, Canada</address><time>Aug. 2016 to Feb. 2017</time></span>
        </header>
        <ul class="disc">
            <li>
                Created the datasets to evaluate the performance of algorithms under varied problem conditions (visual/geometric properties) so that the conditions under which a specific algorithm works reliably can be discovered;
            </li>
            <li>
                Created the datasets to evaluate the performance of algorithms under varied problem conditions (visual/geometric properties) so that the conditions under which a specific algorithm works reliably can be discovered;
            </li>
            <li>
                Developed Blender projects and scripts to generate synthetic datasets with varied material and geometric properties, which make it possible to discover the problem conditions under which a specific algorithm works reliably.
            </li>
        </ul>

        <header>
            <h1>3D Reconstruction Toolkit: Algorithm and Evaluation</h1>
            <span><i class="fa fa-globe"></i> <a href="https://imkaywu.github.io/3drecon_dataset/software">Website</a> /
            <i class="fa fa-github"></i> <a href="https://github.com/imkaywu/3DRecon_Algo_Eval">Source Code</a></span>
            <span><address>UBC, Vancouver, Canada</address><time>Aug. 2016 to Aug. 2017</time></span>
        </header>
        <ul class="disc">
            <li>
                Developed a description-based interface to 3D reconstruction so that a successful reconstruction result can be achieved given a valid description of the object;
            </li>
            <li>
                Implemented multiple 3D reconstruction algorithms, each registered to a different sub-volume of the problem space. The implemented algorithms include Patch-based Multi-View Stereo, Example-based Photometric Stereo, Gray-code Structured Light, and Volumetric Visual Hull;
            </li>
            <li>
                Developed an algorithm & evaluation pipeline that runs algorithms on both real-world and synthetic datasets, compute and visualize quantitative results for evaluation.
            </li>
        </ul>
    </article>
</section>
