<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Programming Languages</h1>
        </header>
        <p>
            <em>C/C++</em> &bull; <em>MATLAB</em> &bull; <em>Java</em> &bull; <em>Python</em>
        </p>
        <!-- <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Java</em>, <em>Python</em>, &bull; <em>Git</em>
        </p> -->
        <header>
            <h1>Tools</h1>
        </header>
        <p>
            <em>OpenCV</em> &bull; <em>OpenGL</em> &bull; <em>Eigen</em> &bull; <em>Ceres Solver</em> &bull; <em>openMVG</em> &bull; <em>TheiaSfM</em> &bull; <em>libmv</em> &bull; <em>PCL</em> &bull; <em>LaTeX</em> &bull; <em>Blender</em>
        </p>
    </article>
</section>