<section class="thirteen columns">
    <h1>Teaching</h1>
    <article>
        <header>
            <h1>CPSC 425 - Computer Vision</h1>
            <span>University of British Columbia</span>
            <span><address>Vancouver, Canada</address><time>Term 2, Winter 2016</time></span>
        </header>
        <p>
            Instructor: Fredrick Tung, Ph.D. candidate
        </p>
        <p>
            Held weekly tutorial, assignments and exams marking
        </p>
    </article>
    <article>
        <header>
            <h1>CPSC 425 - Computer Vision</h1>
            <span>University of British Columbia</span>
            <span><address>Vancouver, Canada</address><time>Term 2, Winter 2015</time></span>
        </header>
        <p>
            Instructor: Fredrick Tung, Ph.D. candidate
        </p>
        <p>
            Held weekly tutorial, assignments and exams marking
        </p>
    </article>
    <article>
        <header>
            <h1>CPEN 321 - Software Engineerin</h1>
            <span>University of British Columbia</span>
            <span><address>Vancouver, Canada</address><time>Term 1, Winter 2015</time></span>
        </header>
        <p>
            Instructor: Konstantin Beznosov, Ph.D.
        </p>
        <p>
            Manage two lab sessions, help students with coding projects, held weekly scrum meetings, assignments and exams marking
        </p>
    </article>
</section>
